extends ../layouts/layout

block content
    .row
        .col
            .card.mx-auto.todo-card
                h3.card-header 
                    a(href="#" id="showTodo_list")= title
                    a.float-right(href="#" data-toggle="modal" data-target="#myModal")
                        i.fa.fa-plus
                <ul class="list-group list-group-flush" id="todo_items">
                    each item, i in items
                        li.list-group-item(id=item._id)
                            .col-10.div-item
                                a(href="#" id="item_body")=item.body
                            .col-1
                                a.float-right.fa-edit.edit-article(href="#",data-toggle="modal" data-id=item._id)
                            .col-1
                                a.float-right.fa-trash-o.delete-article(href="#", data-id=item._id)
                </ul>

    #myModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModal', aria-hidden='true')
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    h5#myModallabel.modal-title Add a todo
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true')
                .modal-body
                    form(id="create-form" method="POST" action='/todolist')
                        .form-group
                            input#create_input.form-control(type='text' name="title")
                        .form-group
                            button.btn.btn-primary(type='submit' id="AddButton") Add Item

    #editModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='editModal', aria-hidden='true')
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    h5#editModallabel.modal-title Edit your note
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true')
                .modal-body
                    form(id="edit-form" method="POST" action='/todolist')
                        .form-group
                            input#edit_input.form-control(type='text' name="editTitle")
                        .form-group
                            button.btn.btn-primary(type='submit' id="editButton") Update




